* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* outline: 1px solid rebeccapurple; */
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: #d8d8db;
    font-family: system-ui, -apple-system, Segoe UI, Roboto, sans-serif;
}

.card {
    width: 360px;
    padding: 24px;
    background: #fff;
    border: 1px solid #d8d8db;
    border-radius: 10px;
    box-shadow: 0 1px 2px rgba(0, 0, 0, .05);
    animation: fadeIn 1s ease-in-out;
}

ul {
    list-style: none;
}

.card ul ul {
    margin: 0 0 0 10px;
    padding: 0 0 0 10px;
    border-left: 1px solid #d8d8db;
}

.item {
    margin: 4px 0 0 0;
    position: relative;
}

.card ul ul .item::before {
    content: "";
    position: absolute;
    top: 14px;
    left: -11px;
    width: 11px;
    height: 1px;
    background: #d8d8db;
}

.collapsible,
.file-item {
    display: flex;
    align-items: center;
    gap: 8px;
    margin: 4px;
    padding: 8px;
    height: 28px;
    border-radius: 4px;
    transition: background .2s;
}

.collapsible {
    cursor: pointer;
}

.collapsible:hover,
.file-item:hover {
    background: #f4f4f5;
}

.symbol {
    font-size: 16px;
}

.symbol-folder-open {
    display: none;
}

.collapsible .toggle:checked~.symbol-folder-open {
    display: inline-flex;
}

.collapsible .toggle:checked~.symbol-folder-closed {
    display: none;
}

.toggle {
    display: none;
}

.tree-children-wrapper {
    display: grid;
    grid-template-rows: 0fr;
    transition: grid-template-rows .3s ease-in-out;
}

.tree-children {
    overflow: hidden;
}

.collapsible:has(.toggle:checked)~.tree-children-wrapper {
    grid-template-rows: 1fr;
}

.file-item a {
    text-decoration: none;
    color: #000;
}

.file-item a:hover {
    border-bottom-color: #000;
    color: #104e24;
}

.disabled {
    color: #959595;
}

.file-item:has(.disabled):hover {
    background: transparent;
}

@keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
}