$pc: #bc8f8f;
$bg: #212121;
$w: #fff;
$g: #4e4e4e;

$sp: (
  xs: .25rem,
  sm: .5rem,
  md: 1rem,
  lg: 2rem,
  xl: 4rem
);

$fs: (
  xs: .7rem,
  sm: .875rem,
  md: 1rem,
  lg: 1.25rem,
  xl: 2rem
);

$br: (
  sm: .25rem,
  md: .5rem,
  lg: 1rem
);